/* ------------------------------GENERALI------------------------------ */

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    line-height: 1.85rem;
    color: #393d41;
}

h1, h2, h3, h4, h5, h6 {
    color: #25a2c3;
    font-weight: bold;
    margin: 2em 0em 1em 0em;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
}

h1 {font-size: 2rem;}

img {width: 100%;}

small {font-size: 0.75rem;}

/* ---------------------------------HEADER------------------------------- */

header div#logo {
    background-color: black;
    padding: 1em;
    display: block;
}

header div#logo img {
    width: 40%;
    margin: 1em auto 1em auto;
}

header div#banner {
    display:block;
    padding: 1em 1em 2em 1em;
    background-image: url("/images/banner.jpg");
    background-size:cover;
    background-position: center;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
}

header a{
    background-color: #f04c2f;
    color: white;
    display: block;
    width: 33.3%;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 2em auto 0em auto;
    padding: 0.8em 1.6em 0.8em 1.6em;
    border-radius: 5px;
}


/* --------------------------------------MAIN--------------------------------------- */

main {
    padding: 1em;
}

main article section img#rounded {
    width: 90%;
    border-radius: 50%;
}

main article section blockquote{
    margin: 3em -1em 0em -1em;
    background-color: #e22d0e;
    color: white;
    padding: 2em 1em 1.5em 1em;
}

main article section blockquote h1 {
    color: white;
}

main article section blockquote i {
    font-size: 0.8em;
}

main article section blockquote span#sign_2 {
    font-size: 0.7em;
}


/* -------------------------------------ASIDE--------------------------------------- */

aside {
    padding: 1.5em;
    margin-top: 2em;
    font-size: 0.9rem;
}

aside div.related {
    border: 1px solid #dee1ed;
    margin-bottom: 2em;
    padding-bottom: 2em;
}
aside div.related h4 {
    margin-bottom: 0em;
}
aside div.related p {
    margin: 0em 1.5em 0em 1.5em;
}


/* -------------------------------------FOOTER---------------------------------------- */

footer {
    background-color: #25a2c3;
    color: white;
    padding: 0.5em 1em 2em 1em;
}

footer h1 {color: white;}

footer address {
    font-size: 0.9rem;
    opacity:0.8;
}

footer a {color: white;}

footer hr {
    margin:1em 3em 1em 3em;
    opacity:0.8;
}

footer p {opacity:0.8;}
